.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

button span {
  pointer-events: none;
}

body {
  width: 100%;
  max-width: 768px;
  position: relative;
}

#container {
  width:100%;
  position: relative;
}

.checkedMA {
  text-decoration: line-through;
  opacity:0.5;
}

.checkedME {
  color:red
}

.hyperLoop {
  display:inline-block;
  letter-spacing: -5px;
  background: #0000ff;
  color: #00ffff;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border:1px solid #00ffff;
  border-radius: 100px;
}

.closeBtn {
  position:absolute;
  right:0;
  top:0;
  width:40px;
  height:30px;
  line-height: 30px;
  text-align: center;
  border:none;
  z-index: 30;
}

.addBtn {
  background: #fff;
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
}

.delBtn {
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px;
  color: inherit;
}

#headerWrap {
  width: 100%;
  text-align: center;
  position: relative;
}

#headerWrap #logo {
  background: #ddd;
  font-weight: bold;
  font-size: 2em;
  height: 50px;
  width: 100%;
  line-height: 50px;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
}

#headerWrap #sideMenu {
  width: 80px;
  float: right;
  left:100%;
  margin-left: -80px;
  z-index: 10;
}

#headerWrap .dwBtn {
  float:right;
  border-radius: 15px;
  width: 50px;
  height:40px;
  margin: 5px;
  background: #fff;
  border: 1px solid #999;
  word-break: keep-all;
  position: relative;
  right:0;
  z-index: 10;
}

#headerWrap .dwBtn.clicked {
  float:right;
  border-radius: 15px;
  width: 50px;
  height:40px;
  margin: 5px;
  background: rgb(228, 227, 227);
  box-sizing: border-box;
  border: 2px double rgb(170, 170, 170);
  word-break: keep-all;
}

.defaultWWrap {
  position: absolute;
  top:5px;
  left: 0;
  z-index: 25;
  width: 20%;
  min-width: 85px;
}

.defaultWWrap #defaultWL{
  overflow: hidden;
  max-width: 100%;
  height:25px;
}

#headerWrap #bagWrap {
  width: 100%;
  max-width: 768px;
  position: fixed;
  z-index: 25;
  bottom:0;
  left:0;
  background: lightgreen;
}

#headerWrap #bagWrap .bagHeader {
  width: 100%;
  max-width: 768px;
  height: 40px;
  line-height: 40px;
}

#headerWrap #bagWrap .bagHeader .bagBtn {
  height: 40px;
  width: 80%;
}

#headerWrap #bagWrap .bagBox {
  width: 100%;
  max-width: 768px;
  height: 130px;
  line-height: 30px;
}

#headerWrap #bagWrap .bag {
  width: 100%;
  max-width: 768px;
}

#headerWrap #bagWrap .bag .bagEquip {
  background: #fff;
  height: 25px;
  line-height: 25px;
  width: 30%;
  float: left;
  margin-top: 5px;
  margin-left: 2.5%;
}

#headerWrap #bagWrap .bag .pocket {
  background: #fff;
  height: 25px;
  line-height: 25px;
  width: 15%;
  float: left;
  margin-left: 4%;
  margin-top: 5px;
}

.bagCtrlBtn {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  vertical-align: top;
  overflow: hidden;
  word-break: keep-all;
  position: relative;
}

.bagCtrlBtn.clickTemp {
  box-shadow: 0px 0px 0px 3px red;
}

.bagCtrlBtn .mNumber {
  position: absolute;
  top:0;
  right:0;
  font-size: 0.8em;
  background: rgb(255, 255, 255, 0.5);
}

.bagManualBtn {
  position: absolute;
  top:5px;
  right:5px;
  width: 80px;
  height: 25px;
  background: yellowgreen;
}

.bagManual {
  position: relative;
  top:-92px;
  right:0;
  text-align: right;
}

.bagManual ul {
  margin:0;
  font-size: 0.8em;
  line-height: 1.5em;
  text-align: left;
  display: inline-block;
  background: #fff;
  border: 2px solid lightgreen;
  padding: 5px;
}

#headerWrap .totalRouteBtn {
  float:right;
  border-radius: 15px;
  width: 50px;
  height:40px;
  margin: 5px;
  background: #fff;
  border: 1px solid #999;
  word-break: keep-all;
  position: relative;
  right:0;
  z-index: 20;
}

#headerWrap #totalRouteWrap {
  position: fixed;
  top: 90px;
  bottom:0;
  left:0;
  width: 100%;
  max-width: 768px;
  max-height: 40%;
  background: #fff;
  z-index: 25;
  overflow-y: auto;
  border-bottom: 5px double hotpink;
  border-top: 5px double hotpink;
  padding-top: 35px;
}

#headerWrap #totalRouteWrap .totalRouteHeader {
  height: 35px;
  line-height: 35px;
  width: 100%;
  max-width: 768px;
  position: fixed;
  top:90px;
  left:0;
  border-bottom: 1px solid hotpink;
  margin-bottom: 30px;
  background: #fff;
}

#headerWrap #totalRouteWrap .totalRouteHeader .totalRouteCalcBtn {
  background: violet;
  color: #fff;
  width: 70px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 14px;  
  box-shadow: 5px 5px 3px hotpink inset;
}

#headerWrap #totalRouteWrap .shortRoute {
  height: 20px;
  line-height: 20px;
  padding: 5px 0;
}

#headerWrap #totalRouteWrap .shortRoute span {
  border-bottom: 1px solid #000;

}

.summaryBtn {
  float:right;
  border-radius: 15px;
  width: 50px;
  height:30px;
  margin: 5px;
  background: #fff;
  border: 1px solid #999;
  position: relative;
  right:0;
  z-index: 10;
}

#summaryWrap {
  padding-top: 50px;
  width: 100%;
  position: fixed;
  top:5%;
  left:0;
  height: 70%;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 25;
}

#summaryWrap .summarySort {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #000;
  width: 100%;
}

#summaryWrap #equipWrap {
  border: none;
  width: 100%;
}

#summaryWrap #equipWrap li {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 5px;
  width: 30%;
  text-align: center;
}

#summaryWrap #routeWrap.area {
  border: none;
  width: 100%;
}

#summaryWrap #routeWrap.area li {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 5px;
  width: 30%;
  text-align: center;
}

.statBtn {
  float:right;
  border-radius: 15px;
  width: 50px;
  height:30px;
  margin: 5px;
  background: #fff;
  border: 1px solid #999;
  position: relative;
  right:0;
  z-index: 10;
}

#statWrap {
  padding-top: 50px;
  width: 100%;
  position: fixed;
  top:5%;
  left:0;
  height: 70%;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  z-index: 25;
}

.statOpt {
  float:left;
  box-sizing: border-box;
  border: 1px solid #000;
  width:50%;
  text-align: left;
}

#equipSelect {
  height: 70px;
}

.selectCategory {
  height:100%;
  box-sizing: border-box;
  padding: 0 20px;
  background: #999;
}

.selectCategory .equipSort {
  margin: 10px 0;
}

.selectCategory label {
  margin-right: 10px;
}

.selectCategory select {
  height: 30px;
  max-width: 120px;
  overflow: hidden;
}

.tabBtn {
  height: 40px;
  line-height: 40px;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  color: inherit;
}

.tabBtn.description {
  border:none;
  width: 100%;
  background: #ddd;
  margin-left: 0;
  padding-left: 10px;
}

ul.scroll {
  padding: 5px 10px;
  background:#fff;
}

.materials .description{
  height:30px;
  line-height: 30px;
  background: #ddd;
}

#equipInfo {
  display: block;
  width: 100%;
  min-height: 30px;
}

#equipInfo .option {
  min-height: 1px;
}

#equipBox .tab {
  border-bottom: 1px solid #999;
  min-height: 35px;
  position: relative;
  overflow: auto;
}

#equipBox .tab .scrollBox {
  float: left;
}

#equipBox .scroll li {
  margin-top: 5px;
}

#equipBox .scroll>span {
  margin-top: 5px;
}

.tab .lowerM {
  overflow: auto;
}

.tab .lowerM span {
  display: block;
  float: left;
}

.tab .drops{
  overflow: auto;
}

.tab .drops span {
  display: block;
  float: left;
}

#equipBox .routeBtn {
  float: right;
  margin-right: 5px;
  margin-top: 8px;
  color: inherit;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px;
}

#equipBox .routeBtn.clicked {
  box-shadow: 3px 3px 5px gray inset;
  font-weight: bold;
  background: rgb(252, 158, 255, 0.3);
}

#equipBox .routeBox {
  position: absolute;
  top:45px;
  right:0;
  padding: 5px;
  overflow: auto;
  background: rgb(255, 255, 255, 0.8);
  box-sizing: border-box;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}

#equipBox .refreshBtn {
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  width: 100%;
  margin: 5px 0;
  float: left;
}

#equipBox .name p {
  display:inline;
  padding: 3px;
}

.gradeG{
  color:#000;
  background: rgb(116, 255, 104);
}

.gradeB{
  color:#000;
  background: rgb(52, 214, 255);
}

.gradeP{
  color: rgb(253, 255, 129);
  background: rgb(156, 1, 187);
}

.gradeY{
  color:#000;
  background: rgb(255, 238, 0);
}

#equipBox .tabBtn {
  margin-left: 20px;
}

.downArrowIcon {
  height:50%;
  margin:5px;
}

.refreshIcon {
  height:100%;
}

.needM {
  float: left;
}

.dropM {
  display: block;
  float: left;
}

.selectedAll {
  margin:5px 0;
}

.selectedAll .dropM {
  margin: 3px;
}

.dropM .mNumber {
  font-size: 0.8em;
  margin-right: 5px;
}

#area .areaHeader {
  border:none;
  width: 100%;
  background: #ddd;
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
}

#area .areaHeader>p {
  margin-left: 10px;
}

#area .area {
  width:30%;
  min-height: 100px;
  float: left;
  margin-left:2%;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

#area .area#A000 {
  width:94%;
  min-height: 100px;
  float: left;
  margin-left:2%;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.area .aLabel {
  background: #ddd;
  width:100%;
  height: 20px;
  display: block
}

.area .flag {
  position: absolute;
  top:-10px;
  right: 0;
  border-radius: 10px;
  width:15px;
  height:15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
}

.area .route1 {
  background: rgb(255, 128, 128);
}

.area .route2 {
  background: rgb(255, 185, 106);
}

.area .route3 {
  background: rgb(250, 247, 60);
}

.area .route4 {
  background: rgb(191, 255, 107);
}

.area .route5 {
  background: rgb(89, 194, 255);
}

.area .route6 {
  background: rgb(130, 102, 255);
}

.area .route7 {
  background: rgb(255, 131, 245);
}

.area .route8 {
  background: rgb(111, 255, 207);
}

.area .route9 {
  background: rgb(197, 155, 76);
}

.area .route10 {
  background: rgb(134, 134, 134);
}

.area .route11 {
  background: rgb(252, 255, 71);
}

.area .route12 {
  background: rgb(253, 54, 54);
}

.area .route13 {
  background: rgb(18, 255, 18);
}

.area .route14 {
  background: rgb(207, 161, 130);
}

.area .route15 {
  background: rgb(163, 138, 138);
}

.area .aLabel strong {
  font-size: 0.5em;
}

#area .areaWrap .area .getMatBtn{
  width: 100%;
  padding: 3px 0;
  background: lightblue;
  margin: 3px 0;
}

.checkBoxA {
  width: 10px;
  display:none;
}

.checkDA {
  display:none;
}

.checkDALabel {
  color: inherit;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 5px;
}

.drops .dropM{
  width: 100%;
}

#area .areaWrap .area#A000 .dropM {
  width: 32%;
}

footer {
  height: 25%;
}

#footerWrap {
  margin-top: 10px;
}

#footerWrap span {
  font-size: 10px;
}
