.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.selectCategory {
  height:2em;
  line-height: 2em;
  background-color: aquamarine;
  border: 1px solid #000;
}

.checkbox {
  color: blueviolet;
}


#equipInfo .drops span{
  margin-right: 5px;
}

.needM {
  float: left;
  margin-right: 5px;
}

.dropM {
  display: block;
  float: left;
}

.dropM .mNumber {
  font-size: 0.8em;
  margin-right: 5px;
}