.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.hide {
  display: none;
}

.checkedMA {
  text-decoration: line-through;
  opacity:0.5;
}

.checkedME {
  color:red
}

.closeBtn {
  position:absolute;
  right:5px;
  top:5px;
  background: #fff;
  width:30px;
  height:30px;
  line-height: 30px;
  text-align: center;
  border:none;
  z-index: 10;
}

#headerWrap {
  position: fixed;
  right:0;
  top:0;
  z-index: 10;
  max-width: 768px;
}

#headerWrap #logo {
  background: #ddd;
  font-weight: bold;
  font-size: 2em;
  border-left:1px solid #999;
  border-bottom:1px solid #999;
}

#headerWrap .mapBtn {
  float: right;
  border-radius: 15px;
  width: 50px;
  height:30px;
  margin: 5px;
  background: #fff;
  border: 1px solid #999;
}

#headerWrap #mapWrap {
  width: 100%;
  position: relative;
  background: #fff;
}

#headerWrap #mapWrap img {
  width: 100%;
}

#summaryWrap {
  padding-top: 50px;
  width: 100%;
  position: fixed;
  top:5%;
  right:0;
  height: 70%;
  background: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}

#summaryWrap .summarySort {
  text-align: center;
  font-size: 1.5em;
  border-bottom: 1px solid #000;
}

#summaryWrap #equipWrap {
  border: none;
  width: 100%;
}

#summaryWrap #equipWrap li {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 5px;
  width: 30%;
  text-align: center;
}

#summaryWrap #routeWrap.area {
  border: none;
  width: 100%;
}

#summaryWrap #routeWrap.area li {
  border: none;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 5px;
  width: 30%;
  text-align: center;
}

body {
  max-width: 768px;
  position: relative;
}

#equipSelect {
  margin-top: 10px;
}

.selectCategory {
  height:2.5em;
  line-height: 2.5em;
  border-bottom: 1px solid #777;
  box-sizing: border-box;
  padding-left: 20px;
}

select {
  height: 1.5em;
  margin: 0;
}

.tabBtn {
  height: 2em;
  background: #ddd;
  line-height: 2em;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

.tabBtn.description {
  border:none;
}

ul.scroll {
  padding: 5px 10px;
  background:#fff;
}

.materials .description{
  height:30px;
  line-height: 30px;
  background: #ddd;
  text-indent: 10px;
}

#equipInfo {
  display: block;
  background:#ddd;
  width: 100%x;
  min-height: 30px;
}

#equipBox .tab {
  border-bottom: 1px solid #999;
}

#equipBox li {
  margin-top: 5px;
}

#equipBox .name p {
  display:inline;
  padding: 3px;
}

.gradeG{
  background: rgb(116, 255, 104);
}

.gradeB{
  background: rgb(52, 214, 255);
}

.gradeP{
  color: rgb(253, 255, 129);
  background: rgb(156, 1, 187);
}

.gradeY{
  background: rgb(255, 238, 0);
}

#equipBox .tabBtn {
  margin-left: 20px;
  text-indent: 5px;
}

.downArrowIcon {
  height:50%;
  margin:5px;
}

#equipInfo .drops span{
  margin-right: 5px;
}

.needM {
  float: left;
  margin-right: 5px;
}

.dropM {
  display: block;
  float: left;
}

.selectedAll {
  margin:5px 0;
}

.selectedAll .dropM {
  margin: 3px;
}

.dropM .mNumber {
  font-size: 0.8em;
  margin-right: 5px;
}

#area .area {
  width:30%;
  min-height: 100px;
  float: left;
  margin-left:2%;
  margin-top: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.area label {
  background: #ddd;
  width:100%;
  height: 20px;
  display: block
}

.area .flag {
  position: absolute;
  top:-10px;
  right: 0;
  border-radius: 10px;
  width:15px;
  height:15px;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
}

.area .route1 {
  background: rgb(255, 128, 128);
}

.area .route2 {
  background: rgb(255, 185, 106);
}

.area .route3 {
  background: rgb(250, 247, 60);
}

.area .route4 {
  background: rgb(191, 255, 107);
}

.area .route5 {
  background: rgb(89, 194, 255);
}

.area .route6 {
  background: rgb(130, 102, 255);
}

.area .route7 {
  background: rgb(255, 131, 245);
}

.area .route8 {
  background: rgb(111, 255, 207);
}

.area .route9 {
  background: rgb(197, 155, 76);
}

.area .route10 {
  background: rgb(134, 134, 134);
}

.area .route11 {
  background: rgb(252, 255, 71);
}

.area .route12 {
  background: rgb(253, 54, 54);
}

.area .route13 {
  background: rgb(18, 255, 18);
}

.area .route14 {
  background: rgb(207, 161, 130);
}

.area .route15 {
  background: rgb(163, 138, 138);
}

.area label strong {
  font-size: 0.5em;
}

.checkBoxA {
  width: 10px;
  display:none;
}

.drops .dropM{
  width: 100%;
}

#footerWrap {
  margin-top: 10px;
}

#footerWrap span {
  font-size: 10px;
}
